<template name="ticketTable">
  <div class="row hidden-print">
    <hr class="half-padding">
    <div class="pull-right">
      <strong>{{firstVisibleTicket}}-{{lastVisibleTicket}}</strong> of <strong>{{getPublishedCount 'ticketCount'}}</strong> 
      <div class="btn-group">
        <button type="button" class="btn btn-default" data-action="lastPage" {{lastDisabled}}><span class="glyphicon glyphicon-chevron-left"></span></button>
        <button type="button" class="btn btn-default" data-action="nextPage" {{nextDisabled}}><span class="glyphicon glyphicon-chevron-right"></span></button>
      </div>
    </div>
  </div>
  <hr class="half-padding">
  {{#if ready}}
    <div class="row">
      <table name="ticketTable" class="table table-condensed" style="border-collapse:collapse;">
        <thead>
          <tr>
            <th class="col-md-1 hidden-xs hidden-print">&nbsp;</th>
            {{#each arrayify columns}}
              {{> ticketTable_columnHeading}}
            {{/each}}
            {{#each extraColumns}}
              {{> ticketTable_columnHeading}}
            {{/each}}
            <!--<th>#</th>
            <th class="col-md-4"><span class="field-table-heading" data-sort-key="subject">Subject</span></th>
            <th class="col-md-2"><span class="field-table-heading" data-sort-key="requester">Requester</span></th>
            <th class="col-md-2">Associated</th>
            <th class="col-md-1">Status</th>
            <th class="col-md-1 hidden-xs">Updated</th>
            <th class="col-md-1 hidden-xs">Submitted</th>-->
          </tr>
        </thead>
        <tbody>
          <tr></tr>
          {{#if noTickets}}
            <tr>
              <td colspan='6'>
                {{#if search}}
                  No tickets match your current search. <a href='#' data-action='clearSearch'>Clear your search?</a>
                  {{else}}
                  No tickets found.
                {{/if}}
              </td>
            </tr>
          {{/if}}
          {{#each tickets}}
            {{>ticketRow}}
          {{/each}}
        </tbody>
      </table>
    </div>
    {{else}}
    {{> loading class="page-loader"}}
  {{/if}}
</template>

<template name="ticketTable_columnHeading">
  <th class="{{columnWidth name}}"><span class="field-table-heading" data-sort-key="{{name}}">{{#if sortByIs name}}
    {{#if sortDirectionIs -1}}
      <i class="glyphicon glyphicon-chevron-down" style="display: inline;"></i>{{else}}
      <i class="glyphicon glyphicon-chevron-up" style="display: inline;"></i>{{/if}}{{/if}}&nbsp;{{labelFor value}}</span></th>
</template>
