<template name="userDashboard">
<div class="col-md-8 col-md-offset-2">
  <h4>Preferences</h4>
  <hr>
  <div class="form-group">
    <label for="defaultQueue" class="control-label">Default Queue:</label>
    <select class="form-control" name="defaultQueue">
      {{#each queue}}
      <option {{selected}}>{{name}}</option>
      {{/each}}
    </select>
  </div>
  {{#with notificationSettings}}
    <div class="form-group">
      <label for="authorPreferences" class="control-label">If I am the author of a ticket, notify me when:</label>
      {{>settingsCheckbox name="submitted" option="I submit the ticket" setting=submitted}}
      {{>settingsCheckbox name="authorSelfNote" option="I leave a note on the ticket" setting=authorSelfNote}}
      {{>settingsCheckbox name="authorOtherNote" option="Someone else leaves a note on the ticket" setting=authorOtherNote}}
      {{>settingsCheckbox name="authorStatusChanged" option="The status of the ticket changes" setting=authorStatusChanged}}
      {{>settingsCheckbox name="authorAttachment" option="An attachment is added to the ticket" setting=authorAttachment}}
    </div>
    <div class="form-group">
      <label for="associatedPreferences" class="control-label">If I am associated with a ticket, notify me when:</label>
      {{>settingsCheckbox name="associatedSelfNote" option="I leave a note on the ticket" setting=associatedSelfNote}}
      {{>settingsCheckbox name="associatedOtherNote" option="Someone else leaves a note on the ticket" setting=associatedOtherNote}}
      {{>settingsCheckbox name="associatedStatusChanged" option="The status of the ticket changes" setting=associatedStatusChanged}}
      {{>settingsCheckbox name="associatedAttachment" option="An attachment is added to the ticket" setting=associatedAttachment}}
    </div>
    <div class="form-group">
      <label for="otherPreferences" class="control-label">Other Settings</label>
      {{> settingsCheckbox name="associatedWithTicket" option="Notify me when I am associated with a ticket" setting=associatedWithTicket}}
    </div>
  {{/with}}

  <div class="form-group">
    <label for="autoAssociate" class="control-label">Ticket sharing:</label>
    <!-- Auto-associated User Panel -->
    <div name="associatedUsers" class="panel panel-default">
      <div class="panel-heading">When I submit a ticket, automatically associate these users:</div>
      <div class="panel-body">
        <div class="assign-user-field">
          <span class="icon glyphicon glyphicon-plus"></span>
          {{>inputAutocomplete settings=userSettings name="assignUser" placeholder="Assign User"}}
        </div>
        {{#each autoAssociatedUserIds}}
          {{> userPortrait userId=this associated=true onRemoveUser=onRemoveUser}}
        {{/each}}
        <div>
          <span class="error">{{associateUserError}}</span>
        </div>
      </div>
    </div>
    <!-- Show the user who has them marked to auto-associate, so they can opt out -->
    <div name="autoAssociatedByUserIds" class="panel panel-default">
      <div class="panel-heading">These users auto-associate you with their tickets:</div>
      <div class="panel-body">
        <!-- <div class="assign-user-field">
          <span class="icon glyphicon glyphicon-plus"></span>
          {{>inputAutocomplete settings=userSettings name="assignUser" placeholder="Assign User"}}
        </div> -->
        {{#each autoAssociatedByUserIds}}
          {{> userPortrait userId=this associated=true onRemoveUser=onRemoveAutoAssociatedByUser}}
        {{/each}}
        <div>
          <span class="error">{{associateUserError}}</span>
        </div>
      </div>
    </div>
  </div>

  <div id="saved-message" class="pull-right">
    {{#if saved}}
      <span class="saved-preferences">Preferences saved. </span>
    {{/if}}
    <button type="button" class="btn btn-primary pull-right" data-action="submit">Save</button>
  </div>
</div>
</template>

<template name="settingsCheckbox">
<div class="checkbox">
  <label><input type="checkbox" value="" name="{{name}}" {{checked}}>
    {{option}}
  </label>
</div>
</template>
